[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.5
[submodule "godot"]
	path = godot
	url = https://github.com/godotengine/godot.git
	branch = 4.5
[submodule "extern/vcpkg"]
	path = extern/vcpkg
	url = https://github.com/microsoft/vcpkg